* {
    box-sizing: border-box;
    scroll-behavior: smooth;
   
}
.muffins-font {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
}
/* .autoRotate {
  animation: AutoRotateAnimation;
  animation-timeline: view(70% 0);
}
@keyframes AutoRotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.autoShow {
  animation: AutoShowAnimation;
  animation-timeline: view();
  animation-range: entry 0% cover 100vh;
}
@keyframes AutoShowAnimation {
  from {
    opacity: 0;
    tranform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
.imageReview {
  animation: ImageReviewAnimation;
  animation-timeline: view(50% 0);
}
@keyframes ImageReviewAnimation {
  /* from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  } */
   from {
    filter: saturate(0) contrast() brightness(.1) blur(5px);
    opacity: 0;
    scale: .95;
    translate: 0 4rem;
   }
   to {
    filter: none; 
    opacity: 1;
    scale: 1;
    translate: 0 0;
   }
}

.project-image {
  width: 100%;
  height: auto;
}

